@using IlinkDb.Entity
@model IlinkDb.Entity.Story

<div class="modal hide" id="msbModalEdit">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Edit <span id="spnTitle"></span></h3>
    </div>
    <form id="msbFormEdit" data-bind="submit: function (form) { msb.PostEdit() }">
        <div class="modal-body">
            <input type="hidden" name="ProjectId" value="830205" />

            <ul id="storyTab" class="nav nav-tabs">
                <li><a href="#edit" data-toggle="tab">Edit</a></li>
                <li><a href="#task" data-toggle="tab">Tasks</a></li>
                <li><a href="#comment" data-toggle="tab">Comments</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane" id="edit">
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name)

                    @Html.LabelFor(m => m.Description)
                    @Html.TextAreaFor(m => m.Description, 4, 80, new { @class = "input-xxlarge" })

                    @Html.LabelFor(m => m.Estimate)
                    @Html.TextBoxFor(m => m.Estimate)

                    <input type="submit" class="btn btn-primary pull-right" value="Save" />
                </div>
                <div class="tab-pane" id="task">
                    <ul id="taskList">
                    </ul>
                </div>
                <div class="tab-pane" id="comment">comments for story</div>
            </div>
        </div>

        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
    </form>
</div>
